.mainimg{
    width:100vw;
    height:auto;
    position:relative;  
}

.studioimg{
    width:100vw;
    height:auto;
    position:absolute;  
}

body{
    margin:0;
    padding:0;
    background-color:#a494a4;
}

.link{
    position:absolute;
    font-size:2vw;
    color:transparent;
}

.YTlink{
    position:relative;
    font-size:1vw;
}
